@tailwind base;
@tailwind components;
@tailwind utilities;

.grid-container {
  display: grid;
  grid-template-columns: 260px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    'sidebar header header header'
    'sidebar main main main';
  height: 100vh;
}

.grid-area {
  grid-area: header;
}

#sidebar {
  grid-area: sidebar;
  height: 100%;
  background: linear-gradient(to right, #07bd89, #006e8c);
  overflow-y: auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.main-container {
  grid-area: main;
  overflow-y: auto;
  padding: 20px 20px;
  color: rgba(255, 255, 255, 0.95);
}